body {
    background-color: cornsilk;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative; 
}
.center {
    text-align: center;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav>li {
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.nav>li:first-child {
    padding-left: 0px;
    margin-left: 0px;
}
.nav>li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}
.nav>li:first-child::before {
    display: none;
}
.nav>li>a {
    text-decoration: none;
    color: #494949;
}
.banner {
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    padding-top: 260px;
    padding-bottom: 285px;
}
.spares {
    position: absolute;
    right: 0;
    top: 0;
}
.title {
    font-size: 50px;
    margin-bottom: 23px;
}
.discpiption {
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
}
.btn {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 16px 0px;
    max-width: 190px;
    text-align: center;
}
.h2 {
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-right: 85px;
    padding-left: 85px;
    margin-bottom: 20px;
}
.h2::before, .h2::after {
    content: '';
    position: absolute;
    background-image: url(../image/item.png);
    display: block;
    width: 60px;
    height: 60px;
    top: 0;
}
.h2::before {
    left: 0;
}
.h2::after {
    right: 0;
}
.h2 + p {
    font-size: 20px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 65px;


}
.menu > li {
    padding-left: 20px;
    padding-right: 20px;
     
    position: relative;
}
.menu > li::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #494949;
    position: absolute;
    left: 0;
}
.menu > li:first-child::before {
    display: none;
}
.menu > li > a {
    text-decoration: none;
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 18px;

}
.menu > li > a.active {
    border-bottom: 4px solid #238ce2;
    position: relative;
}
.menu > li > a.active::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid  #238ce2;
}
.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}
.box-item {
    padding: 80px 0 58px 55px;
    box-sizing: content-box;
}
.number {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    color: #282828;
}
.number::after {
   content: '';
   display: block;
   position: absolute;
}
.number-one::after {
    background-image: url(../image/icon_01.png);
    width: 320px;
    height: 320px;
    left: 50px;
    top: calc(50% - 160px);
}
.number-two::after {
    background-image: url(../image/icon_02.png);
    width: 320px;
    height: 320px;
    left: 50px;
    top: calc(50% - 160px);
}
.number-three::after {
    background-image: url(../image/icon_03.png);
    width: 320px;
    height: 320px;
    left: 50px;
    top: calc(50% - 160px);
}
.box-text {
    border-right: 1px solid #eaeaea;
    padding-left: 55px;
}
.box-item:last-child .box-text {
    border-right: none;
}
.box-text h3 {
    font-size: 45px;
    color: #282828;
    margin-bottom: 23px;
}
.box-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #282828;
    line-height: 24px;
    margin-top: 0;
}
.btn-start {
     color: #fff;
     text-transform: uppercase;
     font-size: 20px;
     font-weight: 700;
     background-image: url(../image/bg.png);
     background-position: center center;
     text-decoration: none;
     padding: 31px 43px;
     background-repeat: no-repeat;
}
.page {
    padding-top: 120px;
    padding-bottom: 94px;
}
.footer {
  background-image: url(../image/footer.png);
  padding: 22px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}